/* banner.css */

/* Default image styles */

/* Media query for 900px to 1200px */
@media (min-width: 900px) and (max-width: 1200px) {
  .banner-image {
    width: 500px !important;
  }
}

.cloud-box {
  display: inline;
  object-fit: "cover";
  background-size: "cover";
  position: "absolute";
}
